@import "/home/jraj/.cache/wal/colors-waybar.css";
* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: 1px solid @color8;
    border-radius: 10px;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 5px 10px;
    color: @foreground;
    border-bottom: 2px solid @background;
    margin: 0px 2px;
}

#workspaces button:hover {
    background: @color9;
}

#workspaces button.focused, #workspaces button.active {
    background: @color1;
}

#workspaces button.urgent {
    background-color: @color9;
}

#clock,
#battery,
#pulseaudio,
#battery
#network,
#custom-notification,
#workspaces button,
#window,
#network,
#mpris,
#tray{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    color: @foreground;
    background-color: @background;
    border-radius: 10px;
    border: 1px solid @color8;
}

/* #window */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* .modules-left , .modules-right{ */
/*     border-radius: 10px; */
/* } */

.modules-left{
    margin-left: 10px;
}
.modules-right {
    margin-right: 10px;
}
